<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CADASTRO DE PRODUTOS</title>
</head>
<body>
   <div align="center">      
   	  <h1>LISTA DE PRODUTOS</h1>
   	  
   	  <a href="new">CADASTRAR NOVO PRODUTO</a><br><br>
   	  
   	  <table border="1" cellpadding="8">
   	  	<thead>
   	  		<tr>
   	  			<th>Código</th>
   	  			<th>Nome</th>
   	  			<th>Ações</th>
   	  		</tr>
   	  	</thead>
   	  	
   	  	<tbody>
   	  		<tr th:each="product : ${listProducts}">
   	  			<td th:text="${product.id}">Código</td>
   	  			<td th:text="${product.nome}">Nome</td> 
   	  		</tr> 
   	  	</tbody>
   	  
   	  </table>
   </div>


</body>
</html>